.App {
  background-color: rgb(34, 48, 41);
  text-align: center;
}

.logoNav{
  padding-right: 15px;
}
 
.NavBar{
  height: 100px;
  background-color: rgb(80, 77, 77);
  color: yellow;
}

.NavBar a{
  color: rgb(255, 166, 0);
  font-weight: 700;
}

.NavBar a:hover{
  color: rgb(17, 77, 49);
}

.logoCarro:hover{
  color: rgb(17, 77, 49);
}

.itemBox{
  background-color: rgb(80, 77, 77);
  color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 550px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  }

  .itemList{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
  }

.Boton{
  background-color:rgb(255, 166, 0) ;
  color: white;
  font-weight: 600;
  width: 30px;
  margin: 5px;
}

.BotonAgregar{
  background-color: rgb(17, 77, 49) ;
  color: white;
}

.imgItem{
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ItemTitle{
  color: rgb(255, 166, 0) ;
}